@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0; padding: 0; border: 0;
    outline: none; box-sizing: border-box; font-family: 'Roboto', sans-serif, FontAwesome;
}
:root {
    --java-beach: #23b8c8;
    --nebula: #1e3746;
    --sunset: #f39c12;
    --storm-clouds: #546e7a;

    --bg-day: linear-gradient(135deg, var(--java-beach) 0%, #7ee8fa 100%);    
    --bg-sunset: linear-gradient(135deg, #d96b16 0%, #a84300 100%);
    --bg-night: linear-gradient(135deg, var(--nebula) 0%, #0f1e27 100%);
    --bg-rainy: linear-gradient(135deg, var(--storm-clouds) 0%, #b0bec5 100%);

    --heather-black: #212529;
    --shark-gray: #6c757d;

    --bgDefaultColor: rgb(94,84,219); --bgDefaultLinearGr: linear-gradient(180deg, rgba(94,84,219,1) 0%, rgba(77,188,215,1) 100%);
    --cstmTxtShadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
body { 
    min-height: 100vh; transition: 0.3s;
    background: var(--bgDefaultColor); background: var(--bgDefaultLinearGr);     
}
/* General display */
.container, .city-name-input, .lat-lot-input, .weather-details, .humidity, .wind, .sunrise-sunset-container, .sunset-div, .sunrise-div {
    display: flex; align-items: center; justify-content: center;
}
span, p { user-select: none; }

.container { 
    max-width: 100%;
    align-content: start; flex-wrap: wrap;   
}

#info {
    text-shadow: 0 0 5px black; font-weight: bold; font-size: 14px; text-align: center;
    color: white; margin-bottom: 5px;
}#info i { color: #FF3B30; }

.city-name-input, .lat-lot-input { /* Inputs Container */
    width: calc(50% - 0.5rem);
    padding: 0.5rem 1em; border-radius: 5px; 
    background-color: white; box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.5);    
}
.lat-lot-input span, .city-name-input span { 
    height: 38px;
    text-shadow: 0 0 5px #000;
    border-radius: 0.375rem !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;
    background-color: #5e55db; color: #FFF; border: 1px solid var(--heather-black);
}
.city-name-input input { border-right: 0; }
.city-name-input input, .lat-lot-input input {
    font-size: 16px; font-style: normal !important; font-weight: 500; border: 1px solid var(--heather-black);
}.form-control:focus { box-shadow: none; border-color: var(--shark-gray); }
.city-name-input input::placeholder, .lat-lot-input input::placeholder { opacity: .5; }
.city-name-input button, .lat-lot-input button {
    height: 38px;
    background-color: #212529;
    border-radius: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0;
    font-size: 14px; font-weight: bold;
}

/* Weather Card */
.weather-city-container {
    /* position: relative; min-width: auto; max-width: 400px; height: 60px; */
    position: relative; width: 400px; height: 60px;
    text-align: center; font-weight: bold; color: var(--heather-black);     
    background-color: #F8F9FA;  border-radius: 10px; transition: 0.25s; 
    box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.5); border: 1px solid var(--heather-black);
    background-size: cover; background-repeat: no-repeat; background-position: right;
}

.alertSpan { 
    display: inline-flex;
    font-size: 14px; color: var(--shark-gray); text-shadow: none; 
}.alertSpan i { font-size: 12px; }

.weather-card { text-align: center; opacity: 0; } /* Card */
.city-info {
    margin-bottom: 0.5rem;
}
.weather-card .weather-city-name, .city-utc-time {
    width: 50%; 
    font-size: 14px; 
    margin-bottom: 0 !important;
}
.weather-city-name { color: var(--heather-black); text-align: left; }
.city-utc-time { color: var(--shark-gray); text-align: right; }
.weather-card img { 
    width: 50%;
    margin: 0 auto; padding: 1em 0;
    filter: drop-shadow(-3px 0px 3px rgba(33, 37, 41, 0.5));
}
.weather-card .temperature {  
    position: relative; margin-bottom: 5px !important;
    font-size: 60px; font-weight: bolder;   
}.weather-card .temperature span {
    position: absolute; top: 5%;
    font-size: 20px; margin-left: 5px;   
}

.city-temp-data {
    display: flex; align-items: center; justify-content: space-between;
    padding-bottom: 1em;
}

.weather-card .temperature-max-min, .weather-card .temperature-feels-like { 
    display: flex; align-items: flex-start;    
    font-size: 15px; color: var(--shark-gray);
}
.weather-card .temperature-max-min { right: 0; text-align: right; }
.weather-card .temperature-feels-like { left: 0; text-align: left; }
.weather-card .temperature-feels-like span, .weather-card .temperature-max-min span { 
    font-size: 10px; margin-left: 3px;
}

.weather-card .description { font-size: 20px; } 
.weather-card .description::first-letter { text-transform: uppercase; }
.weather-details { 
    justify-content: space-between; border-top: 2px dashed rgba(33, 37, 41, 0.7); 
    padding: 1em 0;
}
.weather-details .humidity, .weather-details .wind { 
    width: 50%; height: 60px; 
    text-align: center;     
}
.weather-details .humidity { border-right: 2px dashed rgba(33, 37, 41, 0.7); } 
.weather-details .humidity::before { content: "\f043"; }
.weather-details .wind::before { content: "\f72e"; }
.weather-details .humidity::before, .weather-details .wind::before { 
    font-size: 20px; margin-right: 15px;
}
.weather-details span { font-size: 22px; font-weight: 500; }
.weather-details p { 
    font-size: 14px; font-weight: bold;
    margin: 0; color: var(--shark-gray); 
}
.sunrise-sunset-container {
    padding-top: 1em; 
    font-size: 15px;
    color: var(--shark-gray); border-top: 2px dashed rgba(33, 37, 41, 0.7);
}
.sunrise-sunset-container .sunrise-div, .sunrise-sunset-container .sunset-div { width: 50%; text-align: center; }
.sunrise-sunset-container .sunrise-div { border-right: 2px dashed rgba(33, 37, 41, 0.7); }
.sunrise-div > span::before, .sunset-div > span::before {
    margin-right: 15px; 
    font: var(--fa-font-solid); color: var(--heather-black);
}
.sunrise-div > span::before { content: "\f185";  }
.sunset-div > span::before { content: "\f186"; }

/* Card Animation */
.fadeIn { animation: 0.3s fadeInDetails forwards; animation-delay: 0.3s; }
@keyframes fadeInDetails {
    to { scale: 1; opacity: 1; }
}

@media screen and (max-width: 890px) {
    .city-name-input, .lat-lot-input { width: 100%; }  
    .weather-card .temperature-max-min, .weather-card .temperature-feels-like { font-size: 12px; }  
}