@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0; padding: 0; border: 0;
    outline: none; box-sizing: border-box; font-family: 'Roboto', sans-serif;
}
:root {
    --bgDefaultColor: rgb(94,84,219); --bgDefaultLinearGr: linear-gradient(180deg, rgba(94,84,219,1) 0%, rgba(77,188,215,1) 80%);
    --bgDayBaseColor: rgb(41,216,235); --bgDayLinearGr: linear-gradient(180deg, rgba(41,216,235,1) 0%, rgba(35,64,82,0) 100%); 
    --bgNightBaseColor: rgb(35,64,82); --bgNightLinearGr: linear-gradient(180deg, rgba(35,64,82,1) 0%, rgba(41,216,235,0) 100%);
}
body { 
    min-height: 100vh; padding: 1em; transition: 0.3s;
    background: var(--bgDefaultColor); background: var(--bgDefaultLinearGr); 
    align-items: start !important;
}
/* General display */
body, .container, .city-name-input, .lat-lot-input, .weather-details, .humidity, .wind, .sunrise-sunset-container, .sunset-div, .sunrise-div {
    display: flex; align-items: center; justify-content: center;
}
.container { flex-wrap: wrap; }

.city-name-input, .lat-lot-input { /* Inputs Container */
    max-height: 100px; width: 525px;
    background: white; padding: 0.5rem 1em 0.5rem 1em;
    border-radius: 10px; text-align: center;
    box-shadow: -5px -5px 5px 0 rgba(0,0,0,0.5); transition: 0.3s;    
}
.lat-lot-input { width: 550px; }
.city-name-input input, .lat-lot-input input {
    font-size: 18px; text-transform: capitalize; font-style: normal !important;
    font-family: 'Roboto', sans-serif, FontAwesome;
}
.city-name-input input::placeholder, .lat-lot-input input::placeholder { 
    font-size: 16px; font-weight: 500; text-transform: none; font-style: italic;
}
.city-name-input button, .lat-lot-input button {
    border-radius: 50% !important; font-size: 16px; margin-left: 15px !important; transition: 0.25s;
}
.city-name-input button::after, .lat-lot-input button::after { content: "\f002"; font-family: FontAwesome; }
.city-name-input button:hover, .lat-lot-input button:hover { box-shadow: -2.5px -2.5px 5px 0 rgba(0,0,0,0.5); }
.lat-lot-input span { font-size: 18px; }

.separator, #info {
    text-shadow: 0 0 5px black; font-weight: bold; 
    text-align: center; color: white;
}
.separator { font-style: normal; margin: 0 10px 0 10px; font-size: 12px; }
#info { 
    width: 100%; font-size: 12px; 
    display: inline-block; margin-bottom: 5px;
}

/* Weather Card */
.weather-city-container {
    position: relative; width: 400px; height: 60px; max-height: 480px; 
    color: white; text-align: center; font-weight: bold;
    padding: 20px; margin: 20px auto; overflow: hidden; border-radius: 15px; transition: 0.3s;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
    box-shadow: -5px -5px 5px 0 rgba(0,0,0,0.5); 
    background-color: white; background-size: cover; background-repeat: no-repeat;
}
.weather-card { text-align: center; opacity: 0; } /* Card */
.weather-card .weather-city-name, .city-utc-time {
    width: 50%; position: absolute; font-size: 14px;  
}
.weather-city-name { text-align: left; } /* City Name */
.city-utc-time { /* UTC Time */
    font-size: 11px; text-align: right; right: 0; font-style: italic;
}
.weather-card img { width: 45%; } /* Weather Img */
.weather-card .temperature { /* Temperature */
    position: relative; bottom: 12px; margin: 0 auto;  
    font-size: 55px;   
}
.weather-card .temperature span {
    position: absolute;
    font-size: 25px; margin-left: 5px;    
}
.weather-card .temperature-max-min, .weather-card .temperature-feels-like { /* Max-Min Temperature / Feels like */
   position: absolute; top: 54%; right: 0; 
   font-size: 14px; font-style: italic;
}
.weather-card .temperature-max-min { right: 5%; }
.weather-card .temperature-feels-like { width: fit-content; left: 0; }
.weather-card .temperature-feels-like span, .weather-card .temperature-max-min span { 
    font-size: 12px; position: absolute; margin-left: 5px;
}
.weather-card .temperature-max-min span:nth-child(1) { position: relative !important; margin-right: 1px; }
.weather-card .description { /* Weather Description */ 
    font-size: 22px;
    padding: 2px; margin: 20px 0 auto; 
} 
.weather-card .description::first-letter { text-transform: uppercase; }
.weather-details { /* Weather Details */
    justify-content: space-between; border-top: 2px solid black; 
}
.weather-details .humidity, .weather-details .wind { 
    width: 50%; height: 75px; 
    text-align: center; margin-top: 12px;
}
.weather-details .humidity { border-right: 2px solid black; } 
.weather-details .humidity::before { content: "\f773"; font-family: FontAwesome; }
.weather-details .wind::before { content: "\f72e"; font-family: FontAwesome; }
.weather-details .humidity::before, .weather-details .wind::before { 
    font-size: 24px; margin: 0 10px 0 0; 
}
.weather-details span { font-size: 22px; font-weight: 500 }
.weather-details p { font-size: 14px; margin: 0; }
.sunrise-sunset-container { /* Sunrise / Sunset Time */
    margin-top: 15px; padding-top: 10px;
    border-top: 2px solid black;
}
.sunrise-sunset-container .sunrise-div, .sunrise-sunset-container .sunset-div { width: 50%; text-align: center; }
.sunrise-sunset-container .sunrise-div { border-right: 2px solid black; }
.sunrise-div>span::before, .sunset-div>span::before { content: "\f185"; font-family: FontAwesome; margin-right: 10px; }
.sunset-div>span::before { content: "\f186"; }

.weather-city-container .alertSpan { 
    width: 100%; text-align: center; font-size: 12px; text-shadow: none;
    color: black; position: absolute; right: 0;
}

/* Card Animation */
.fadeIn { animation: 0.3s fadeInDetails forwards; animation-delay: 0.3s; }
@keyframes fadeInDetails {
    to { scale: 1; opacity: 1; }
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .separator { width: 100%; margin: 5px 0 5px 0; font-size: 11px; }
}
@media screen and (max-width: 980px ) {
    #info { font-size: 11px; font-weight: bold; }
    .weather-city-container .alertSpan { font-size: 11px !important; }
    .city-name-input input { margin-left: 0; }
    .city-name-input input, .lat-lot-input input { font-size: 15px; }
    .city-name-input input::placeholder, .lat-lot-input input::placeholder { font-size: 13px; }   
    .lat-lot-input span { display: none; }
    .city-name-input button, .lat-lot-input button { font-size: 12px; margin-left: 10px !important; }
    .city-name-input::before, .lat-lot-input::before { font-size: 14px; margin-right: 5px !important; }    
}