@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0; padding: 0; border: 0;
    outline: none; box-sizing: border-box; font-family: 'Roboto', sans-serif, FontAwesome;
}
:root {
    --bgDefaultColor: rgb(94,84,219); --bgDefaultLinearGr: linear-gradient(180deg, rgba(94,84,219,1) 0%, rgba(77,188,215,1) 80%);
    --bgDayBaseColor: rgb(41,216,235); --bgDayLinearGr: linear-gradient(180deg, rgba(41,216,235,1) 0%, rgba(35,64,82,0) 100%); 
    --bgNightBaseColor: rgb(35,64,82); --bgNightLinearGr: linear-gradient(180deg, rgba(35,64,82,1) 0%, rgba(41,216,235,0) 100%);
    --cstmTxtShadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;

}
body { 
    min-height: 100vh; padding: 1em; transition: 0.3s;
    background: var(--bgDefaultColor); background: var(--bgDefaultLinearGr);     
}
/* General display */
body, .container, .city-name-input, .lat-lot-input, .weather-details, .humidity, .wind, .sunrise-sunset-container, .sunset-div, .sunrise-div {
    display: flex; align-items: center; justify-content: center;
}
span, p { user-select: none; }

.container { 
    max-width: 100%; min-height: 95vh; /*max-height: 95vh;*/ 
    align-content: start; flex-wrap: wrap; gap: 10px;
    padding: 1em; 
}

#info {
    width: 100%; display: inline-block;
    text-shadow: 0 0 5px black; font-weight: bold; text-align: center; font-size: 14px;
    color: white; margin-bottom: 10px;
}#info::before { content: '\f3c5'; color: #FF3B30; margin-right: 15px; }

.city-name-input, .lat-lot-input { /* Inputs Container */
    width: 48%;
    padding: 0.5rem 1em; border-radius: 5px;
    background-color: white; box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.5);    
}
.lat-lot-input span, .city-name-input span { 
    height: 38px; 
    background-color: #5e55db; color: whitesmoke; border: 1px solid #dee2e6;
}
.city-name-input input, .lat-lot-input input {
    font-size: 16px; font-style: normal !important;
}.form-control:focus { box-shadow: none; }
.city-name-input input::placeholder, .lat-lot-input input::placeholder { opacity: .5; }
.city-name-input button, .lat-lot-input button {
    height: 38px;
    border-radius: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0;
    font-size: 14px; font-weight: bold;
}

/* Weather Card */
.weather-city-container {
    position: relative; min-width: 400px; height: 60px; max-height: 100%;
    text-align: center; font-weight: bold; text-shadow: var(--cstmTxtShadow); color: white; 
    padding: 1em; margin: 15px auto;  border-radius: 10px; transition: 0.25s;
    box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.5); overflow: hidden;
    background-color: white; background-size: cover; background-repeat: no-repeat;
}
.alertSpan { font-size: 14px; color: #212529; text-shadow: none; }
.alertSpan i { margin-right: 5px; }

.weather-card { text-align: center; opacity: 0; } /* Card */
.weather-card .weather-city-name, .city-utc-time {
    width: 50%; position: absolute; 
    font-size: 14px; margin-bottom: 0 !important;
}
.weather-city-name { text-align: left; }
.city-utc-time { 
    font-size: 12px; text-align: right; right: 0; font-style: italic;
}
.weather-card img { 
    width: 45%; display: block; 
    margin: 0 auto;
} 
.weather-card .temperature {
    position: relative; bottom: 8%; margin: 0 auto;  
    font-size: 55px;   
}
.weather-card .temperature span {
    position: absolute;
    font-size: 25px; margin-left: 5px;    
}
.weather-card .temperature-max-min, .weather-card .temperature-feels-like { 
   position: absolute; right: 0; 
   font-size: 14px; font-style: italic;
}
.weather-card .temperature-max-min { right: 5%; }
.weather-card .temperature-feels-like { width: fit-content; left: 0; }
.weather-card .temperature-feels-like span, .weather-card .temperature-max-min span { 
    font-size: 12px; position: absolute; margin-left: 5px;
}
.weather-card .temperature-max-min span:nth-child(1) { position: relative !important; margin-right: 1px; }
.weather-card .description {
    font-size: 22px;
    padding: 2em 0 0 0;
} 
.weather-card .description::first-letter { text-transform: uppercase; }
.weather-details { 
    justify-content: space-between; border-top: 2px dashed black; 
}
.weather-details .humidity, .weather-details .wind { 
    width: 50%; height: 75px; 
    text-align: center; margin-top: 12px;
}
.weather-details .humidity { border-right: 2px dashed black; } 
.weather-details .humidity::before { content: "\f773"; }
.weather-details .wind::before { content: "\f72e"; }
.weather-details .humidity::before, .weather-details .wind::before { 
    font-size: 24px; margin: 0 10px 0 0; 
}
.weather-details span { font-size: 22px; font-weight: 500 }
.weather-details p { font-size: 14px; margin: 0; }
.sunrise-sunset-container {
    margin-top: 15px; padding-top: 10px;
    border-top: 2px dashed black;
}
.sunrise-sunset-container .sunrise-div, .sunrise-sunset-container .sunset-div { width: 50%; text-align: center; }
.sunrise-sunset-container .sunrise-div { border-right: 2px dashed black; }
.sunrise-div>span::before, .sunset-div>span::before { content: "\f185"; margin-right: 10px; }
.sunset-div>span::before { content: "\f186"; }


/* Card Animation */
.fadeIn { animation: 0.3s fadeInDetails forwards; animation-delay: 0.3s; }
@keyframes fadeInDetails {
    to { scale: 1; opacity: 1; }
}

@media screen and (max-width: 890px) {
    .city-name-input, .lat-lot-input { width: 100%; }
    
}